@{
    Layout = null;
    var ListaItems = ViewData.Model;
    var trackOriginal = ListaItems;
}

<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title></title>
</head>
<body>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Track Similares</h3>
        </div>
        <div class="panel-body">
            @for (int i = 0; i < 5; i++)
            {
                <div style="width:100%">
                    <iframe src="https://embed.spotify.com/?uri=@trackOriginal[i]" width="300" height="80" frameborder="0" allowtransparency="true"></iframe>
                </div>
            }

        </div>
    </div>
</body>
</html>