@{
    Layout = null;
    var ListaItems = ViewData.Model;
}

<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title></title>
</head>
<body>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Track Similares</h3>
        </div>
        <div class="panel-body">
            <iframe src="https://embed.spotify.com/?uri=spotify:trackset:Top 10:@ListaItems" frameborder="0" allowtransparency="true" height="720" width="640"></iframe>
        </div>
    </div>
</body>
</html>