@{
    ViewBag.Title = "Principal";
    Layout = null;
    var muestra = ViewData.Model;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div>
        muestra
    </div>
    <div>
        <iframe src="https://embed.spotify.com/?uri=spotify:track:40AES0OzPWOZnvUunWY6vB" width="300" height="380" frameborder="0" allowtransparency="true"></iframe>
    </div>
</body>
</html>
